Repository Jonathansumner/Marple-Tilt, pull requests merged in 2022-04, with the labels that each got.

#57 Collision boxes
  game-runner/graphics/gfx.cpp
  game-runner/graphics/gfx.h
  game-runner/graphics/shapes.cpp
  game-runner/graphics/shapes.h
  game-runner/main.cpp
Labels: Game System, Design

#59 Map loading dev
  game-runner/CMakeLists.txt
  game-runner/FSM/GameState.h
  game-runner/FSM/GameStates.h
  game-runner/FSM/MarpleTiltMachine.cpp
  game-runner/FSM/MarpleTiltMachine.h
  game-runner/FSM/MenuStates.cpp
  game-runner/FSM/MenuStates.h
  game-runner/dynamics/dynamics.cpp
  game-runner/dynamics/dynamics.h
  game-runner/graphics/MenuPages.cpp
  game-runner/graphics/MenuPages.h
  game-runner/graphics/gfx.cpp
  game-runner/graphics/gfx.h
  game-runner/graphics/shapes.cpp
  game-runner/graphics/shapes.h
  game-runner/img/audio.png
  game-runner/img/audiodown.png
  game-runner/img/audioup.png
  game-runner/img/left.png
  game-runner/img/right.png
  game-runner/img/sun.png
  game-runner/main.cpp
  game-runner/maps/MapLoader.cpp
  game-runner/maps/MapLoader.h
  game-runner/maps/demomap.csv
  game-runner/maps/hardmap.csv
  game-runner/maps/sillymap.csv
  game-runner/maps/testmap.csv
Labels: enhancement, Game System

#63 Menu navigation
  game-runner/FSM/GameState.h
  game-runner/FSM/GameStates.cpp
  game-runner/FSM/GameStates.h
  game-runner/FSM/MarpleTiltMachine.cpp
  game-runner/FSM/MarpleTiltMachine.h
  game-runner/FSM/MenuStates.cpp
  game-runner/FSM/MenuStates.h
  game-runner/dynamics/dynamics.cpp
  game-runner/graphics/MenuPages.cpp
  game-runner/graphics/MenuPages.h
  game-runner/graphics/gfx.cpp
  game-runner/graphics/gfx.h
  game-runner/graphics/images.cpp
  game-runner/img/cog.png
  game-runner/img/compass.png
  game-runner/img/gears.png
  game-runner/img/left.png
  game-runner/img/map.png
  game-runner/img/question.png
  game-runner/img/right.png
  game-runner/img/wrench.png
  game-runner/main.cpp
  game-runner/maps/MapLoader.cpp
  game-runner/maps/MapLoader.h
  game-runner/maps/hardmap.csv
  game-runner/maps/testmap.csv
Labels: Game System, Design

#80 Added project license
  LICENSE
Labels: documentation

#78 feat: Motion-sensitive real-time updates
  game-runner/CMakeLists.txt
  game-runner/dynamics/dynamics.cpp
  game-runner/dynamics/dynamics.h
  game-runner/main.cpp
  game-runner/maps/CoolMap.csv
Labels: Game System, Hardware, Design

#82 feat: add event-driven game loop design
  game-runner/main.cpp
Labels: Game System, Design

#84 Chore: Add Code of Conduct
  CODE_OF_CONDUCT.md
Labels: documentation

#62 Basic painting/ Basic file handling/ Colour picking
  desktop-app/CMakeLists.txt
  desktop-app/ColourPick.cpp
  desktop-app/ColourPick.h
  desktop-app/ImageInfo.cpp
  desktop-app/ImageInfo.h
  desktop-app/Paint.h
  desktop-app/Tab1Content.cpp
  desktop-app/Tab1Content.h
  desktop-app/paintTab.cpp
  desktop-app/paintTab.h
  desktop-app/untitled1.pro
  desktop-app/window.cpp
  desktop-app/window.h
Labels: Desktop App

#86 Real-time metrics
  GameSystem/maps/Cool.csv
  GameSystem/maps/test.csv
  GameSystem/source/main.cpp
  resources/icons/Instagram.png
  resources/icons/Tiktok.png
  resources/icons/Twitter.png
  resources/realtime-pictures/realtime-loop-screenshot.png
  resources/social-media/MarpleTiltTwitterViews.png
  resources/social-media/TikTokViews.png
  resources/social-media/followerInteraction.png
Labels: documentation, Game System, Hardware

#88 chore: add real time assessment reference pictures
  resources/realtime-pictures/realtime-firstreaction-1.png
  resources/realtime-pictures/realtime-firstreaction-10.png
  resources/realtime-pictures/realtime-firstreaction-2.png
  resources/realtime-pictures/realtime-firstreaction-3.png
  resources/realtime-pictures/realtime-firstreaction-4.png
  resources/realtime-pictures/realtime-firstreaction-5.png
  resources/realtime-pictures/realtime-firstreaction-6.png
  resources/realtime-pictures/realtime-firstreaction-7.png
  resources/realtime-pictures/realtime-firstreaction-8.png
  resources/realtime-pictures/realtime-firstreaction-9.png
  resources/realtime-pictures/realtime-loop-clear-1.png
  resources/realtime-pictures/realtime-loop-clear-2.png
  resources/realtime-pictures/realtime-loop-clear-3.png
  resources/realtime-pictures/realtime-loop-clear-4.png
  resources/realtime-pictures/realtime-loop-clear-5.png
  resources/realtime-pictures/realtime-loop-menu-1.png
  resources/realtime-pictures/realtime-loop-menu-2.png
  resources/realtime-pictures/realtime-loop-menu-3.png
  resources/realtime-pictures/realtime-loop-menu-4.png
  resources/realtime-pictures/realtime-loop-menu-5.png
  resources/realtime-pictures/realtime-loop-play-1.png
  resources/realtime-pictures/realtime-loop-play-2.png
  resources/realtime-pictures/realtime-loop-play-3.png
  resources/realtime-pictures/realtime-loop-play-4.png
  resources/realtime-pictures/realtime-loop-play-5.png
  resources/realtime-pictures/realtime-loop-testmap-1.png
  resources/realtime-pictures/realtime-loop-testmap-2.png
  resources/realtime-pictures/realtime-loop-testmap-3.png
  resources/realtime-pictures/realtime-loop-testmap-4.png
  resources/realtime-pictures/realtime-loop-testmap-5.png
Labels: documentation, Hardware, Design
